<!DOCTYPE html>
<html>
  <head>
    <title>form表单提交</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script src="js/react.js"></script>
    <script src="js/react-dom.js"></script>
    <script src="js/jquery-2.0.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </head>
  <body>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button>
  <!-- 弹层 -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  </div>


    <script src="build/form.js"></script>
    <style type="text/css">
    em{
      color: red;
    }
    .mform-tr0{
      border-top: hidden;
    }
    </style>
  </body>
</html>